.example-card {
    width: 400px;
    height: 60px;
    margin: 10px;
  }
  
  .example-header-image {
    background-size: cover;
  }

  .mat-sort-header-container {
    align-items: center;
  }
 
  .mat-grid-tile{
    display: block;
    position: initial;
    overflow: hidden;
  }